In [1]:
cd Documents

/Users/kitabatakemakoto/Documents

In [2]:
cd dipインターン

/Users/kitabatakemakoto/Documents/dipインターン

In [3]:
import pandas as pd
import numpy as np
import sklearn

In [4]:
train_x = pd.read_csv("train_x.csv")#train_data読み込み
train_y = pd.read_csv('train_y.csv')

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (114) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
train_y.columns

Index(['お仕事No.', '応募数 合計'], dtype='object')

In [6]:
train_y1 = train_y["応募数 合計"]
train_y1.head()

0    1.945910
1    3.951244
2    3.295837
3    3.970292
4    3.784190
Name: 応募数 合計, dtype: float64

In [7]:
y1_train =np.array(train_y1)#目的変数変換
y1_train = y1_train.reshape(-1,1)
y1_train

array([[1.94591015],
       [3.95124372],
       [3.29583687],
       ...,
       [0.        ],
       [0.69314718],
       [0.        ]])

In [14]:
train_x7 = train_x[["給与/交通費　給与上限","給与/交通費　給与下限"]]

In [9]:
train_x7.isnull().sum()

給与/交通費　給与上限    10311
給与/交通費　給与下限        0
dtype: int64

In [22]:
train_x7["給与/交通費　給与上限"] = train_x7["給与/交通費　給与上限"].fillna(-9999)

<ipython-input-22-5330100dffd8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_x7["給与/交通費　給与上限"] = train_x7["給与/交通費　給与上限"].fillna(-9999)

In [23]:
train_x7.head()

   給与/交通費　給与上限  給与/交通費　給与下限
0      -9999.0         1550
1       2000.0         1800
2       2000.0         1800
3      -9999.0         1650
4      -9999.0         1650

In [24]:
X7_train = np.array(train_x7)

In [25]:
from sklearn.tree import DecisionTreeRegressor
dtr = DecisionTreeRegressor()
dtr.fit(X7_train,y1_train)

DecisionTreeRegressor()

In [20]:
test_x = pd.read_csv("test_x.csv")

In [26]:
test_x7 = test_x[["給与/交通費　給与上限","給与/交通費　給与下限"]]

In [27]:
test_x7.isnull().sum()

給与/交通費　給与上限    1727
給与/交通費　給与下限       0
dtype: int64

In [28]:
test_x7["給与/交通費　給与上限"] = test_x7["給与/交通費　給与上限"].fillna(-9999)

<ipython-input-28-fc907ce55382>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_x7["給与/交通費　給与上限"] = test_x7["給与/交通費　給与上限"].fillna(-9999)

In [29]:
test_x7.head()

   給与/交通費　給与上限  給与/交通費　給与下限
0       1650.0         1600
1       1750.0         1700
2       2000.0         1800
3      -9999.0         1650
4      -9999.0         1700

In [30]:
X7_test = np.array(test_x7)

In [31]:
y_pred = dtr.predict(X7_test)

In [32]:
y_pred

array([0.44123292, 0.367655  , 1.02167673, ..., 0.367655  , 0.44123292,
       0.4531081 ])

In [36]:
test_y4 =pd.DataFrame()

In [37]:
test_y4["お仕事No."] = test_x["お仕事No."]

In [38]:
test_y4["応募数 合計"] = y_pred

In [39]:
test_y4.to_csv("test_y4.csv", index=False,encoding= "utf-8")