In [1]:
pwd

'/Users/kitabatakemakoto'

In [2]:
cd Documents

/Users/kitabatakemakoto/Documents

In [3]:
cd dipインターン

/Users/kitabatakemakoto/Documents/dipインターン

In [4]:
import pandas as pd
import numpy as np
import sklearn

In [5]:
train_x = pd.read_csv("train_x.csv")#train_data読み込み
train_y = pd.read_csv('train_y.csv')

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (114) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [6]:
train_y.columns

Index(['お仕事No.', '応募数 合計'], dtype='object')

In [8]:
train_y1 = train_y["応募数 合計"]
train_y1.head()

0    1.945910
1    3.951244
2    3.295837
3    3.970292
4    3.784190
Name: 応募数 合計, dtype: float64

In [9]:
y1_train =np.array(train_y1)#目的変数変換
y1_train = y1_train.reshape(-1,1)
y1_train

array([[1.94591015],
       [3.95124372],
       [3.29583687],
       ...,
       [0.        ],
       [0.69314718],
       [0.        ]])

In [10]:
train_x5 = train_x["（紹介予定）雇用形態備考"]
train_x5 = pd.get_dummies(train_x5)
train_x5.head()

   ※ご紹介先により異なります。詳細はお問い合わせ下さい。  アルバイト社員  パート社員  契約員  契約契約社員  契約社員  正社員
0                            0        0      0    0       0     0    0
1                            0        0      0    0       0     0    1
2                            0        0      0    0       0     0    1
3                            0        0      0    0       0     0    1
4                            0        0      0    0       0     0    1

In [11]:
train_x5["非正規"] = train_x5["※ご紹介先により異なります。詳細はお問い合わせ下さい。"] + train_x5["アルバイト社員"]+train_x5["パート社員"]+train_x5["契約契約社員"]+train_x5["契約社員"]+train_x5["契約員"]
train_x5=train_x5.drop(["※ご紹介先により異なります。詳細はお問い合わせ下さい。","アルバイト社員","パート社員","契約契約社員","契約社員","契約員"], axis=1)
train_x5.head()

   正社員  非正規
0    0    0
1    1    0
2    1    0
3    1    0
4    1    0

In [12]:
X5_train = np.array(train_x5)

In [13]:
from sklearn.tree import DecisionTreeRegressor
dtr = DecisionTreeRegressor()
ｄｔｒ.fit(X5_train, y1_train)

DecisionTreeRegressor()

In [14]:
test_x = pd.read_csv("test_x.csv")

In [15]:
test_x5 = test_x["（紹介予定）雇用形態備考"]
test_x5 = pd.get_dummies(test_x5)
test_x5.head()

   アルバイト社員  契約社員  正社員
0        0     0    0
1        0     0    1
2        0     0    1
3        0     0    1
4        0     0    1

In [17]:
test_x5["非正規"] = test_x5["アルバイト社員"]+test_x5["契約社員"]
test_x5=test_x5.drop(["アルバイト社員","契約社員"], axis=1)
test_x5.head()

   正社員  非正規
0    0    0
1    1    0
2    1    0
3    1    0
4    1    0

In [18]:
X5_test = np.array(test_x5)

In [19]:
y_pred = dtr.predict(X5_test)

In [20]:
y_pred.shape

(3391,)

In [26]:
test_y2 =pd.DataFrame()

In [27]:
test_y2["お仕事No."] = test_x["お仕事No."]

In [28]:
test_y2["応募数 合計"] = y_pred

In [29]:
test_y2.head()

       お仕事No.    応募数 合計
0  2203556553  0.468534
1  2203515280  0.988638
2  2203546900  0.988638
3  2203545344  0.988638
4  2203557987  0.988638

In [30]:
test_y2.to_csv("test_y2.csv", index=False)