In [3]:
import pandas as pd
import numpy as np
import sklearn

In [10]:
train_x = pd.read_csv("train_x.csv")#train_data読み込み
train_y = pd.read_csv('train_y.csv')

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (114) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [11]:
train_y.columns

Index(['お仕事No.', '応募数 合計'], dtype='object')

In [12]:
train_y1 = train_y["応募数 合計"]
train_y1.head()

0    1.945910
1    3.951244
2    3.295837
3    3.970292
4    3.784190
Name: 応募数 合計, dtype: float64

In [14]:
y1_train =np.array(train_y1)#目的変数変換
y1_train = y1_train.reshape(-1,1)
y1_train

array([[1.94591015],
       [3.95124372],
       [3.29583687],
       ...,
       [0.        ],
       [0.69314718],
       [0.        ]])

In [15]:
train_x3 = train_x["給与/交通費　給与下限"]
train_x3.head()

0    1550
1    1800
2    1800
3    1650
4    1650
Name: 給与/交通費　給与下限, dtype: int64

In [16]:
X3_train = np.array(train_x3)

In [17]:
X3_train = X3_train.reshape(-1,1)

In [18]:
from sklearn.tree import DecisionTreeRegressor
dtr = DecisionTreeRegressor()
ｄｔｒ.fit(X3_train, y1_train)

DecisionTreeRegressor()

In [19]:
test_x = pd.read_csv("test_x.csv")

In [20]:
test_x3 = test_x["給与/交通費　給与下限"]
test_x3.head()

0    1600
1    1700
2    1800
3    1650
4    1700
Name: 給与/交通費　給与下限, dtype: int64

In [21]:
X3_test = np.array(test_x3)
X3_test = X3_test.reshape(-1,1)

In [22]:
y_pred = dtr.predict(X3_test)
y_pred.shape

(3391,)

In [26]:
test_y = pd.DataFrame()

In [28]:
test_y["お仕事No."]= test_x["お仕事No."]

In [29]:
test_y["応募数 合計"] = y_pred

In [30]:
test_y.head()

       お仕事No.    応募数 合計
0  2203556553  0.552064
1  2203515280  0.480082
2  2203546900  0.695368
3  2203545344  0.444421
4  2203557987  0.480082

In [ ]:
test_y.to_csv("test_y.csv", index=False,encoding= "utf-8")